<h1>Geospatial Company Project Database</h1>
<div id="tableDiv"></div>
</br>
<div id= "filterDiv">
	<form>
		<legend>Filter Employees by Job Title</legend>
		<label for="job_title">Job Title:</label>
		<select name="job_title" id="fltrByJobTitle">
		</select>
	</form>
</div>
<script src="button.js"></script>
